# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Environment
env/
venv/
ENV/
*.env
*.venv

# Django
staticfiles/
media/
*.log
*settings.py
DietCraft/settings.py

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Local settings
local_settings.py
