:root {
    --primary: #0A653A;
    --primary-dark: #084f2d;
    --secondary: rgb(166, 248, 166);
    --mainbg: #d1e7dd;
    --bg1: rgb(148, 215, 237);
    --bg2: #91db91;
    --btn1: #ff9f1c;
    --btn2: rgb(30, 60, 85);
    --lighttext: white;
    --darkgreentext: #0A653A;
    --darktext: black;
    --font1: 'Poppins', sans-serif;
    --font2: 'Roboto', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
}

/*  SECTION SPACING  */
.container>div {
    margin-top: 60px;
    margin-bottom: 60px;
}

/*  PAGE HEADER  */
.abouthead {
    text-align: center;
    margin-top: 40px;
}

.abouthead h2 {
    font-weight: 700;
    color: var(--primary);
}

/* .abouthead p {
    color: #555;
    max-width: 600px;
    margin: 10px auto;
} */
.abouthead p {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    color: var(--darktext);
    ;
    line-height: 1.6;
}

/*  MISSION SECTION  */
.missionsection {
    max-width: 900px;
    margin: auto;
    text-align: center;
}

.missionsection h3 {
    color: var(--primary);
    ;
    font-weight: 600;
    margin-bottom: 15px;
}

.missionsection p {
    color: var(--darktext);
    ;
    font-size: 16px;
}

/*  VALUES SECTION  */
.valuessection h3 {
    text-align: center;
    color: var(--primary);
    ;
    margin-bottom: 30px;
}

.valuescardcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.valuescard {
    width: 250px;
    background-color: var(--bg2);
    ;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    transition: 0.25s ease-in-out;
}

/* Card icon circle */
.cardhead {
    width: 55px;
    height: 55px;
    background-color: var(--primary);
    ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 12px auto;
}

.cardhead i {
    color: var(--lighttext);
    ;
    font-size: 24px;
}

.valuescard:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
}

.cardname {
    color: var(--primary);
    ;
    font-size: 17px;
    font-weight: 600;
}

.cardcontent {
    color: var(--darktext);
    ;
    font-size: 14px;
}

/*  OFFER Section  */
.offersection h3 {
    text-align: center;
    color: var(--primary);
    ;
    margin-bottom: 25px;
}

.offer {
    background-color: var(--bg1);
    ;
    padding: 18px 20px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.offer h4 {
    color: var(--primary);
    ;
    font-size: 17px;
    font-weight: 600;
}

.offer:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
}

/*  COUNTER SECTION */

.countersection {
    border-radius: 16px;
    margin: 20px;
    padding: 20px;
    width: 100%;
    background-color: var(--primary-dark);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.countersection h3 {
    color: var(--darktext);
    font-weight: 600;
    margin-bottom: 25px;
}

.countercontainer {
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    flex-wrap: wrap;
}

.countercard {
    background-color: var(--bg2);
    width: 145px;
    height: 145px;
    padding: 25px 15px;
    border-radius: 75px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    transition: 0.25s ease-in-out;
}

.countercard:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
    color: var(--primary);
}

.count-number {
    font-size: 32px;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 5px;
}

.count-text {
    font-size: 15px;
    font-weight: 500;
    color: #555;
}

/* Responsive */
@media (max-width: 768px) {
    .countercard {
        max-width: 80px;
        max-height: 100px;
    }

    .count-number {
        font-size: 20px;
        font-weight: 400;
        color: var(--primary);
        margin-bottom: 3px;
    }

    .count-text {
        font-size: 14px;
        font-weight: 400;
        color: var(--darktext);
    }
}

.Nostyle {
    list-style: none;
}

/*  TEAM SECTION  */
.teamsection h3 {
    text-align: center;
    color: var(--primary);
    ;
    margin-bottom: 25px;
}

.teamcardcontainer {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.teamcard {
    background-color: var(--bg1);
    ;
    width: 280px;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    transition: 0.25s ease;
}

.teamcard:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
}

.teamcard .imgsection {
    width: 90px;
    height: 90px;
    background-color: var(--primary);
    ;
    border-radius: 50%;
    margin: 0 auto;
}

.teamcard h3 {
    margin-top: 10px;
    color: var(--primary);
    ;
    font-size: 18px;
    font-weight: 600;
}

.teamcard h4 {
    font-size: 14px;
    color: var(--darktext);
    ;
    margin-bottom: 10px;
}

.teamcard p {
    font-size: 14px;
    color: var(--darktext);
    ;
}

/* TECHNOLOGY SECTION */
.technonlogysection h3 {
    text-align: center;
    color: var(--primary);
    ;
    margin-bottom: 25px;
}

.techsection {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.techcard {
    background-color: var(--bg2);
    ;
    width: 250px;
    padding: 20px;
    border-radius: 12px;
    transition: 0.25s ease;
    text-align: center;
}

.techcard:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
}

.techcard h4 {
    color: var(--primary);
    ;
    font-weight: 600;
}

.techcard p {
    color: var(--darktext);
    ;
    font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 768px) {

    .valuescard,
    .teamcard,
    .techcard {
        width: 100%;
    }
}