.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.auth-box {
    width: 450px;
    background: #F6FDF9;
    padding: 40px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.08);
}

.auth-logo {
    width: 70px;
    margin-bottom: 15px;
}

.auth-box h2 {
    color: #0A5C36;
    font-weight: 600;
    margin-bottom: 5px;
}

.auth-box p {
    color: #666;
    margin-bottom: 25px;
}

.auth-input {
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.auth-btn {
    width: 100%;
    background: #0A5C36;
    padding: 14px;
    border-radius: 10px;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.outline-btn {
    width: 100%;
    display: block;
    border: 2px solid #0A5C36;
    padding: 14px;
    color: #0A5C36;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 10px;
}

.divider {
    margin: 20px 0;
    color: #aaa;
    font-weight: 500;
}

.auth-footer {
    margin-top: 20px;
    color: #555;
}

.auth-footer a {
    color: #0A5C36;
    font-weight: 600;
}
.password-wrapper {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    color: #0A5C36;
}