:root {
    --primary: #0A653A;
    --primary-dark: #084f2d;
    --secondary: rgb(166, 248, 166);
    --mainbg: #d1e7dd;
    --bg1: rgb(148, 215, 237);
    --bg2: #91db91;
    --btn1: #ff9f1c;
    --btn2: rgb(30, 60, 85);
    --lighttext: white;
    --darkgreentext: #0A653A;
    --darktext: black;
    --font1: 'Poppins', sans-serif;
    --font2: 'Roboto', sans-serif;
}




body{
    background: url('/static/images/Login_bg.png') center/cover no-repeat;
    /* padding: 40px 0; */
}
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.auth-box {
    width: 450px;
    background: #F6FDF9;
    padding: 40px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.08);
}

.auth-logo {
    width: 70px;
    margin-bottom: 15px;
    border-radius: 50px;
}

.auth-box h2 {
    color: #0A5C36;
    font-weight: 600;
    margin-bottom: 5px;
    font-weight: var(--font1);
}

.auth-box p {
    color: #666;
    margin-bottom: 25px;
    font-style: var(--font2);
}

.auth-input {
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.auth-btn {
    width: 100%;
    background: #0A5C36;
    padding: 14px;
    border-radius: 10px;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.outline-btn {
    width: 100%;
    display: block;
    border: 2px solid #0A5C36;
    padding: 14px;
    color: #0A5C36;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 10px;
}

.divider {
    margin: 20px 0;
    color: #aaa;
    font-weight: 500;
}

.auth-footer {
    margin-top: 20px;
    color: #555;
}

.auth-footer a {
    color: #0A5C36;
    font-weight: 600;
}
.password-wrapper {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    color: #0A5C36;
}
.password-wrapper input {
    width: 100%;
    padding: 14px 45px 14px 14px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}
