body {
    background-color: #EFF3F2;
}

/* Contact head Section */
.contacthead {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    text-align: center;
}
.contactbody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* Contact info Section */
.infosection {
    border-radius: 20px;
    background-color: #DDF5E4;
    margin: 20px;
    width: 80vw;

}

.info-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #0A5C36;
}

/* Icon box style */
.icon-box {
    width: 45px;
    height: 45px;
    background-color: #0A5C36;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 20px;
}


.info-heading {
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #0A5C36;
    margin-bottom: 3px;
}

.info-text {
    color: #444;
    font-family: 'Roboto', sans-serif;
}

/* Hover effect for whole item */
.info-item:hover {
    background-color: rgba(10, 92, 54, 0.05);
    border-radius: 10px;
    padding-left: 5px;
    transition: 0.2s ease-in-out;
}

/* Contact form Section */

.formsection {
    background-color: #DDF5E4;
    border-radius: 20px;
    border: 10px;
    width: 80vw;
}

/* Form Title */
.form-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #0A5C36;
}

/* Input Styling */
.formsection input,
.formsection textarea {
    background-color: white;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 12px;
}

/* Submit Button */
.submit-btn {
    background-color: #FF8A3D;
    color: white;
    font-weight: 500;
    padding: 12px;
    border-radius: 30px;
    font-size: 16px;
    transition: 0.3s ease;
}

.submit-btn:hover {
    background-color: #e67c00;
    transform: translateY(-2px);
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}