:root{
    --primary:#0A653A;
    --primary-dark: #084f2d;
    --secondary: rgb(166, 248, 166);
    --mainbg: #d1e7dd;
    --bg1: rgb(148, 215, 237);
    --bg2:#91db91;
    --btn1: #ff9f1c;
    --btn2: rgb(30, 60, 85);
    --lighttext: white;
    --darkgreentext: #0A653A;
    --darktext: black;
    --font1: 'Poppins', sans-serif;
    --font2: 'roboto', sans-serif;
}
.profilehead{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
}
.profilehead h2{
    color: var(--primary-dark);
    font-style: var(--font1);
}
.profilehead p{
    color: var(--dark);
    font-style: var(--font2);
}