:root{
    --primary:#0A653A;
    --primary-dark: #084f2d;
    --secondary: rgb(166, 248, 166);
    --mainbg: #d1e7dd;
    --bg1: rgb(148, 215, 237);
    --bg2:#91db91;
    --btn1: #ff9f1c;
    --btn2: rgb(30, 60, 85);
    --lighttext: white;
    --darkgreentext: #0A653A;
    --darktext: black;
}
.alert{
    background-color: var(--bg2);
}
.nutritionistspagecontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* MAIN CARD */
.nutri-card {
    background:var(--bg1);
    border-radius: 18px;
    padding: 30px;
    border: 1px solid var(--bg2);
}

/* HEADER ROW */
.nutri-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* CIRCLE IMAGE */
.nutri-header-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    background: var(--btn1);
    flex-shrink: 0;
}

.nutri-header-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nutri-header-placeholder {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--primary);
}

/* NAME + BADGE */
.nutri-header-info {
    display: flex;
    flex-direction: column;
}

.nutri-name {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    color: var(--darktext);
}

.nutri-badge {
    display: inline-block;
    background:  var(--primary);
    color: white;
    padding: 4px 12px;
    font-size: 13px;
    border-radius: 20px;
    margin-top: 6px;
}

/* DESCRIPTION */
.nutri-description {
    margin-top: 18px;
    margin-bottom: 20px;
    color: var(--bg1);
    font-size: 15px;
    line-height: 1.6;
}

/* DETAILS SECTION */
.nutri-detail {
    margin-bottom: 12px;
    font-size: 15px;
    color:  var(--darktext);
}

.nutri-detail i {
    margin-right: 8px;
    color:  var(--primary);
    font-size: 18px;
}

.subtext {
    color:  var(--darktext);
    font-size: 14px;
}

/* DEGREE TAGS */
.degree-container {
    margin-top: 12px;
    display: flex;
    gap: 10px;
}

.degree-tag {
    padding: 5px 14px;
    background:  var(--primary);
    color:  var(--darktext);
    border-radius: 20px;
    font-size: 13px;
}

/* MOBILE FIX */
@media(max-width: 768px) {
    .nutri-card {
        padding: 20px;
    }

    .nutri-header {
        flex-direction: row;
    }
}
