{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="auth-box">
        <img src="{% static 'images/DietCraft Logo.png' %}" class="auth-logo">
        <h2>Reset Password</h2>

        <form method="POST">
            {% csrf_token %}

            <div class="password-wrapper">
                <input type="password" name="password" class="auth-input"
                       placeholder="New Password" id="id_password">
            </div>

            <div class="password-wrapper">
                <input type="password" name="confirm_password" class="auth-input"
                       placeholder="Confirm Password" id="id_confirm_password">
            </div>

            <button type="submit" class="auth-btn">Update Password</button>
        </form>
    </div>
</div>
{% endblock %}
