{% extends 'base.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
{% endblock %}

{% block content %}
<div class="auth-container">

    {% if messages %}
    <div class="alert-container">
        {% for message in messages %}
            <p class="alert alert-warning">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <div class="auth-box">
        <img src="{% static 'images/DietCraft Logo.png' %}" class="auth-logo">

        <h2>Create an Account</h2>
        <p>Sign up to start your diet & fitness journey</p>

        <form method="POST">
            {% csrf_token %}

            {{ form.user_name }}
            {{ form.email }}

            <div class="password-wrapper">
                {{ form.password }}
                <i class="bi bi-eye-slash toggle-password"
                   onclick="togglePassword('id_password', this)"></i>
            </div>

            <div class="password-wrapper">
                {{ form.confirm_password }}
                <i class="bi bi-eye-slash toggle-password"
                   onclick="togglePassword('id_confirm_password', this)"></i>
            </div>

            <button type="submit" class="auth-btn">Sign Up</button>
        </form>

        <p class="auth-footer">Already have an account?
            <a href="{% url 'login' %}">Log in</a>
        </p>
    </div>

</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/auth.js' %}"></script>
{% endblock %}
